# EditorConfig

# Top-most EditorConfig file
root = true

# General settings
[*]
charset = utf-8
indent_size = 4
end_of_line = lf
indent_style = space
insert_final_newline = true
trim_trailing_whitespace = true

# Matches the exact files either package.json or *.yml
[{*.yml,package.json}]
indent_size = 2

# Command `go fmt` set indent-style to TAB
[{*.go,go.mod}]
indent_style = tab

# Inno Setup Script and NSIS Script charset setting UTF-8 with BOM
# Garbled code appear when characters contain Chinese and charset is utf-8
[*.{iss,isl,nsi,nsh}]
charset = utf-8-bom

# Makefile indent TAB-style setting
[Makefile]
indent_style = tab
