# vscode
.vscode/

# Vim configuration directory and swap
.vim/
*.swp

# JetBrains IDEs
.idea/
*.iml

# macOS
.DS_Store
._*

# Go Modules
go.sum

# Coverage files
coverage.*

# SQLite database files
*.db
*.sqlite
*.sqlite3

# build, data and logs directories
build/
data/
logs/
