# vscode
.vscode/

# Vim configuration directory and swap
.vim/
*.swp

# IntelliJ
*.iml
.idea/

# Go Module vgo
go.sum

# build
build/

# Mac
.DS_Store

# Coverage files
coverage.*

# Log directory
logs/

# Data directory
data/
