<!DOCTYPE html>
<html lang="zh">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="author" content="{{ .site.author }}">
  <meta name="description" content="{{ .site.description }}">
  <title>{{ .site.title }}</title>

  <link rel="icon" href="/favicon.ico">

  <link rel="stylesheet" href="/assets/css/main.css">
  <script src="https://cdn.jsdelivr.net/npm/jquery@2.2.4/dist/jquery.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/iconify-icon@1.0.1/dist/iconify-icon.min.js"></script>

  <script src="https://cdn.tailwindcss.com?plugins=typography,line-clamp"></script>
  <script>
    tailwind.config = {
      darkMode: 'class',
    }
  </script>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/nprogress@0.2.0/nprogress.min.js">
  <script src="https://cdn.jsdelivr.net/npm/nprogress@0.2.0/nprogress.min.js"></script>
  <script>
    $(document).ready(() => {
      NProgress.configure({
        showSpinner: false,
      });
      NProgress.start();
      $("#nprogress .bar").css({
        background: "#de7441",
      });
      $("#nprogress .peg").css({
        "box-shadow": "0 0 2px #de7441, 0 0 4px #de7441",
      });
      $("#nprogress .spinner-icon").css({
        "border-top-color": "#de7441",
        "border-left-color": "#de7441",
      });
      setTimeout(function () {
        NProgress.done();
        $(".fade").removeClass("out");
      }, 800);
    });
  </script>

  <script>
    (function () {
      const prefersDark =
        window.matchMedia &&
        window.matchMedia("(prefers-color-scheme: dark)").matches;
      const setting = localStorage.getItem("site-color-scheme") || "auto";
      if (setting === "dark" || (prefersDark && setting !== "light"))
        document.documentElement.classList.toggle("dark", true);
    })();
    window.onload = function () {
      // init iconify icon
      const isDark = document.documentElement.classList.contains("dark");
      if (isDark) {
        $("#toggle-dark").attr("icon", "ri:moon-line");
      } else {
        $("#toggle-dark").attr("icon", "ri:sun-line");
      }
      const toggleDark = () => {
        console.log("toggle dark");
        const darkMode = document.documentElement.classList.toggle("dark");
        localStorage.setItem("site-color-scheme", darkMode ? "dark" : "light");
        $("#toggle-dark").attr("icon", darkMode ? "ri:moon-line" : "ri:sun-line");
      };

      $("#toggle-dark").click(toggleDark);
    };
  </script>

<body class="font-sans bg-white dark:bg-zinc-900 text-gray-700 dark:text-gray-200">
  <header class="fixed w-full px-5 py-1 z-10 backdrop-blur-xl backdrop-saturate-150 border-b border-black/5">
    <div class="max-auto">
      <nav class="flex items-center text-base">
        <a href="/" class="group">
          <h2 class="font-medium tracking-tighterp text-l p-2">
            <img class="w-5 mr-2 inline-block transition-transform group-hover:rotate-[30deg]" src="/assets/images/logo.svg">
            {{ .site.title }}
          </h2>
        </a>
        <div id="header-title" class="opacity-0 md:ml-2 md:mt-[0.1rem] text-xs font-medium whitespace-nowrap overflow-hidden overflow-ellipsis">Categories</div>
        <div class="flex-1"></div>
        <div class="flex items-center gap-3">
          <a class="hidden sm:flex" href="/archives">Posts</a>
          <a class="hidden sm:flex" href="/category">Categories</a>
          <a class="hidden sm:flex" href="/tag">Tags</a>
          <a class="w-5 h-5 hidden sm:flex" title="Github" target="_blank" rel="noopener" href="https://github.com/huiyifyj">
            <iconify-icon width="20" icon="ri:github-line"></iconify-icon>
          </a>
          <a class="w-5 h-5 hidden sm:flex" title="Email" target="_blank" rel="noopener" href="mailto:blog@fengyj.cn">
            <iconify-icon width="20" icon="ic:outline-email"></iconify-icon>
          </a>
          <a class="w-5 h-5 hidden sm:flex" title="RSS" target="_blank" rel="noopener" href="/rss">
            <iconify-icon width="20" icon="ri:rss-line"></iconify-icon>
          </a>
          <!-- dark/light 模式切换 -->
          <a class="w-5 h-5" title="toggle theme">
            <iconify-icon width="20" icon="ri:sun-line" id="toggle-dark"></iconify-icon>
          </a>
        </div>
        <div class="flex items-center justify-center gap-3 ml-3 sm:hidden">
          <span class="w-5 h-5" aria-hidden="true" role="img" id="open-menu">
            <iconify-icon width="20" icon="carbon:menu"></iconify-icon>
          </span>
          <span class="w-5 h-5 hidden" aria-hidden="true" role="img" id="close-menu">
            <iconify-icon width="20" icon="carbon:close"></iconify-icon>
          </span>
        </div>
      </nav>
    </div>
  </header>
  <div id="menu-panel" class="h-0 overflow-hidden sm:hidden fixed left-0 right-0 top-12 bottom-0 z-10">
    <div id="menu-content"
      class="relative z-20 bg-white/80 px-6 sm:px-8 py-2 backdrop-blur-xl -translate-y-full transition-transform duration-300">
      <ul class="nav flex flex-col sm:flex-row text-sm font-medium">
        <li class="nav-portfolio sm:mx-2 border-b sm:border-0 border-black/5 last:border-0 hover:text-main">
          <a href="/archives" class="flex h-12 sm:h-auto items-center">Posts</a>
        </li>
        <li class="nav-portfolio sm:mx-2 border-b sm:border-0 border-black/5 last:border-0 hover:text-main">
          <a href="/category" class="flex h-12 sm:h-auto items-center">Categories</a>
        </li>
        <li class="nav-portfolio sm:mx-2 border-b sm:border-0 border-black/5 last:border-0 hover:text-main">
          <a href="/tag" class="flex h-12 sm:h-auto items-center">Tags</a>
        </li>
      </ul>
    </div>
    <div class="mask bg-black/20 absolute inset-0"></div>
  </div>

  <main class="p-12">
    <section class="px-6 max-w-prose mx-auto gap-12 grid grid-cols-1">
      <div class="flex flex-col h-48 items-center justify-center">
        <h1 class="site-title text-4xl leading-relaxed">
          {{ .site.title }}
        </h1>
        <p class="text-gray-500 mt-2">
          {{ .site.description }}
        </p>
      </div>

      <!-- timeline for posts -->
      <div class="relative pointer-events-none">
        <span class="text-9xl opacity-10 absolute -left-11 -top-6 font-bold">2022</span>
      </div>

      {{ range $i, $v := .articles }}
      <a href="/mariadb-master-slave-sync/">
        <header>
          <h2 class="font-bold text-xl">{{ $v.Title }}</h2>
        </header>
        <section class="text-gray-400 my-1 text-sm time">
          <p class="line-clamp-4">{{ $v.Title }}</p>
          <p class="line-clamp-4">{{ $v.CreateTime.Format "Jan 02" }} · 4 min</p>
        </section>
      </a>
      {{ end }}

    </section>
  </main>

  <!-- footer -->
  <footer class="flex flex-col h-40 items-center justify-center text-gray-400 text-sm">
    <!-- copyright -->
    <div class="flex items-center gap-2">
      <a href="https://github.com/huiyifyj" target="_blank" rel="noopener noreferrer">Feng.YJ</a>
      <iconify-icon width="18" icon="emojione-monotone:maple-leaf"></iconify-icon>
      <span>© 2023</span>
    </div>
    <div class="flex items-center gap-2">
      <span>Powered by</span>
      <a href="https://github.com/Pengxn/go-xn" target="_blank" rel="noopener noreferrer">Go-xn [WIP]</a>
    </div>
  </footer>

  <script src="/assets/js/main.js"></script>
  <script src="/assets/js/page.js"></script>
</body>
</html>
